<div layout-fill fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
    <div fxLayout="column" fxLayoutAlign="center center">

      <mat-toolbar color="primary" style="background-color: rgb(206, 76, 0); border-radius: 10px;  z-index:10000;">
        <mat-toolbar-row>
          <img src="assets/ico_tonda.png" style="width:45px; padding-right:10px;">
          <span>ParrocchiaCarpaneto.com</span>
        </mat-toolbar-row>
      </mat-toolbar>

      <div style="width: 400px; height: 300px; background-color: white; border-radius: 10px; margin-top: -5px; z-index:1000;">

          <mat-card class="example-card" style="height: 100%;">

            <h3>Reimposta password</h3>

            <mat-card-content>
              <form class="example-form">
                <table class="example-full-width" cellspacing="0" style="width:100%;">
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width" style="width:100%;">
                        <input disabled="disabled" matInput placeholder="Email" [(ngModel)]="username" name="username" required>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width" style="width:100%;">
                        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password"
                          required>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <mat-form-field class="example-full-width" style="width:100%;">
                          <input matInput placeholder="Ripeti Password" [(ngModel)]="password2" type="password" name="password"
                            required>
                        </mat-form-field>
                      </td>
                    </tr>
                </table>
              </form>
              <mat-error>{{loginError}}</mat-error>
            </mat-card-content>
            <mat-card-actions>
              <button [style.display]="!showSpinnerLogin && password === password2 && password !== '' ? 'block' : 'none'" style="width:100%; background-color: rgb(206, 76, 0); color: white;"
                mat-button (click)="startSaveNewPassword()" color="primary">salva nuova password</button>
              <mat-progress-spinner [diameter]="48" [style.display]="showSpinnerLogin ? 'block' : 'none'"></mat-progress-spinner>
            </mat-card-actions>
          </mat-card>

        </div>

    </div>
  </div>
